{% extends 'front/base.html.twig' %}

{% block content %}
    <h1>Laisser un commentaire</h1>

    <div class="row">
        <div class="col s6">
            <h5>Mes annonces ...</h5>
            <div class="row">
                <div class="col s6 offset-s2">
                    <label>Annonce</label>
                    <select id="my-announces" class="browser-default">
                        <option value="">Choisir</option>
                        {% for announce in myAnnounces %}
                            <option value="{{ announce.id }}">{{ announce.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col s6 offset-s2">
                    <label>Utilisateur</label>
                    <select id="users" class="browser-default">
                        <option value="" class="permanent">Choisir</option>
                        {% for loan in loansByOwner %}
                            <optgroup label="{{ loan.applicant.username }}" data-announce="{{ loan.announce.id }}">
                                <option value="{{ loan.applicant.id }}" data-loan="{{ loan.id }}">Du {{ loan.startDate }} au {{ loan.endDate }}</option>
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>
                <div class="col s6 offset-s2">
                    <label>Note</label>
                    <select id="feedback-owner-grade" class="browser-default">
                        <option value="" class="permanent">Choisir</option>
                        {% for i in 0..5 %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s6 offset-s2">
                    <textarea id="feedback-owner-content" class="materialize-textarea"></textarea>
                    <label for="feedback-owner-content">Message</label>
                </div>
                <div class="col s6 offset-s2">
                    <button id="send-feedback-owner" class="waves-effect waves-light btn">Envoyer</button>
                </div>
            </div>
        </div>
        <div class="col s6">
            <h5>J'ai postulé ...</h5>
            <div class="row">
                <div class="col s6 offset-s2">
                    <label>Annonce</label>
                    <select id="other-announces" class="browser-default">
                        <option value="">Choisir</option>
                        {% for announce in otherAnnounces %}
                            <option value="{{ announce.id }}">{{ announce.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col s6 offset-s2">
                    <label>Utilisateur</label>
                    <select id="my-applies" class="browser-default">
                        <option value="" class="permanent">Choisir</option>
                        {% for loan in loansByApplicant %}
                            <option value="{{ loan.announce.owner.id }}" data-announce="{{ loan.announce.id }}" data-loan="{{ loan.id }}">Du {{ loan.startDate }} au {{ loan.endDate }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col s6 offset-s2">
                    <label>Note</label>
                    <select id="feedback-applicant-grade" class="browser-default">
                        <option value="" class="permanent">Choisir</option>
                        {% for i in 0..5 %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s6 offset-s2">
                    <textarea id="feedback-applicant-content" class="materialize-textarea"></textarea>
                    <label for="feedback-applicant-content">Message</label>
                </div>
                <div class="col s6 offset-s2">
                    <button id="send-feedback-applicant" class="waves-effect waves-light btn">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#users option:not(.permanent), #users optgroup').hide();

            $('#my-announces').change(function() {
                $('#users option:not(.permanent), #users optgroup').hide();
                var selector = '#users optgroup[data-announce="' + $(this).find(':selected').val() + '"]';
                $(selector + ', ' + selector + ' option').show();
                $('#users').val('');
            });

            $('#my-applies option:not(.permanent)').hide();

            $('#other-announces').change(function() {
                $('#my-applies option:not(.permanent)').hide();
                $('#my-applies option[data-announce="' + $(this).find(':selected').val() + '"]').show();
                $('#my-applies').val('');
            });

            $('#send-feedback-owner').click(function() {
                var user = $('#users').val();
                var grade = $('#feedback-owner-grade').val();
                var content = $('#feedback-owner-content').val();
                var loan = $('#users').find(':selected').data('loan')

                if (user != "" && grade != "" && content != "" && loan != "") {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('feedback_comment') }}',
                        data: { user: user, grade: grade, content: content, loan: loan },
                        dataType: 'json',
                        success: function (data) {
                            Materialize.toast(data.content, 3000, 'bc-' + data.type);
                        },
                        error: function(xhr, status, error) {
                            Materialize.toast(xhr.responseText, 3000, 'toast-error');
                        }
                    });
                }
            });

            $('#send-feedback-applicant').click(function() {
                var user = $('#my-applies').val();
                var grade = $('#feedback-applicant-grade').val();
                var content = $('#feedback-applicant-content').val();
                var loan = $('#my-applies').find(':selected').data('loan')

                if (user != "" && grade != "" && content != "" && loan != "") {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('feedback_comment') }}',
                        data: { user: user, grade: grade, content: content, loan: loan },
                        dataType: 'json',
                        success: function (data) {
                            Materialize.toast(data.content, 3000, 'bc-' + data.type);
                        },
                        error: function(xhr, status, error) {
                            Materialize.toast(xhr.responseText, 3000, 'toast-error');
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}