{% extends 'front/base.html.twig' %}

{% block content %}
    <h1>Répondre à mes annonces</h1>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Annonce</th>
                    <th>Utilisateur</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for loan in loans %}
                    <tr id="line-{{ loan.id }}">
                        <td><button class="waves-effect waves-light btn show-announce" data-announce="{{ loan.announce.id }}">{{ loan.announce.name }}</button></td>
                        <td><button class="waves-effect waves-light btn show-user" data-user="{{ loan.applicant.id }}">{{ loan.applicant.username }}</button></td>
                        <td>{{ loan.startDate }}</td>
                        <td>{{ loan.endDate }}</td>
                        <td>
                            <i class="fa fa-check-circle-o c-success tooltipped accept" data-tooltip="Accepter" data-loan="{{ loan.id }}" aria-hidden="true"></i>
                            <i class="fa fa-times-circle-o c-error tooltipped refuse" data-tooltip="Refuser" data-loan="{{ loan.id }}" aria-hidden="true"></i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="modal-announce" class="modal bottom-sheet">
        <div class="modal-content">
            <h4><span id="modal-announce-name"></span></h4><span id="modal-announce-dates"></span>
            <p class="row">
                <div class="col s3">
                    <img id="modal-announce-image" src="" />
                </div>
                <div class="col s9">
                    <span id="modal-announce-description"></span>
                </div>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <div id="modal-user" class="modal bottom-sheet">
        <div class="modal-content">
            <h4><span id="modal-user-username"></span></h4>
            <p class="row">
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        #modal-announce-dates {
            font-style: italic;
        }
        .fa {
            font-size: 35px;
            cursor: pointer;
            margin-left: 20px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('.show-announce').click(function() {
                var announce = $(this).data('announce');

                if (announce != "") {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('loan_answer_announce') }}',
                        data: { id: announce },
                        dataType: 'json',
                        success: function (data) {
                            $('#modal-announce-name').html(data.content.name);
                            $('#modal-announce-dates').html(data.content.dates);
                            $('#modal-announce-image').attr('src', data.content.image);
                            $('#modal-announce-description').html(data.content.description);
                            $('#modal-announce').modal('open');
                        },
                        error: function(xhr, status, error) {
                            Materialize.toast(xhr.responseText, 3000, 'toast-error');
                        }
                    });
                }
            });

            $('.show-user').click(function() {
                var user = $(this).data('user');

                if (user != "") {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('loan_answer_user') }}',
                        data: { id: user },
                        dataType: 'json',
                        success: function (data) {
                            $('#modal-user-username').html(data.content.username);
                            $('#modal-user').modal('open');
                        },
                        error: function(xhr, status, error) {
                            Materialize.toast(xhr.responseText, 3000, 'toast-error');
                        }
                    });
                }
            });

            $('.accept').click(function() {
                var loan = $(this).data('loan');
                var url = '{{ path('loan_answer_accept') }}';
                if (loan != "") answer(loan, url);
            });

            $('.refuse').click(function() {
                var loan = $(this).data('loan');
                var url = '{{ path('loan_answer_refuse') }}';
                if (loan != "") answer(loan, url);
            });
        });

        function answer(id, url) {
            $.ajax({
                type: 'POST',
                url: url,
                data: { id: id },
                dataType: 'json',
                success: function (data) {
                    Materialize.toast(data.content, 3000, 'bc-' + data.type);
                    $('#line-' + id).remove();
                },
                error: function(xhr, status, error) {
                    Materialize.toast(xhr.responseText, 3000, 'toast-error');
                }
            });
        }
    </script>
{% endblock %}