{% extends 'front/base.html.twig' %}

{% block content %}
    <h1>Répondre à mes annonces</h1>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Annonce</th>
                    <th>Utilisateur</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for loan in loans %}
                    <tr id="line-{{ loan.id }}">
                        <td><button class="waves-effect waves-light btn show-announce" data-announce="{{ loan.announce.id }}">{{ loan.announce.name }}</button></td>
                        <td><button class="waves-effect waves-light btn show-user" data-user="{{ loan.applicant.id }}">{{ loan.applicant.username }}</button></td>
                        <td>{{ loan.startDate }}</td>
                        <td>{{ loan.endDate }}</td>
                        <td>
                            <i class="fa fa-check-circle-o c-success tooltipped accept" data-tooltip="Accepter" data-loan="{{ loan.id }}" aria-hidden="true"></i>
                            <i class="fa fa-times-circle-o c-error tooltipped refuse" data-tooltip="Refuser" data-loan="{{ loan.id }}" aria-hidden="true"></i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="modal-announce" class="modal bottom-sheet">
        <div class="modal-content">
            <h4 id="modal-announce-name"></h4>
            <span id="modal-announce-dates" class="italic"></span>
            <p class="row">
                <div class="col s3">
                    <img id="modal-announce-image" src="" />
                </div>
                <div class="col s9">
                    <span id="modal-announce-description"></span>
                </div>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <div id="modal-user" class="modal bottom-sheet">
        <div class="modal-content">
            <h4 id="modal-user-username"></h4>
            <span id="modal-user-average"></span>

            <p id="modal-user-feedbacks-1" class="row feedback-line">
                <span class="col s1 italic feedback-date"></span>
                <span class="col s1 bold feedback-author"></span>
                <span class="col s1 feedback-grade"></span>
                <span class="col s3 feedback-comment"></span>
            </p>

            <p id="modal-user-feedbacks-2" class="row feedback-line">
                <span class="col s1 italic feedback-date"></span>
                <span class="col s1 bold feedback-author"></span>
                <span class="col s1 feedback-grade"></span>
                <span class="col s3 feedback-comment"></span>
            </p>

            <p id="modal-user-feedbacks-3" class="row feedback-line">
                <span class="col s1 italic feedback-date"></span>
                <span class="col s1 bold feedback-author"></span>
                <span class="col s1 feedback-grade"></span>
                <span class="col s3 feedback-comment"></span>
            </p>

            <p id="modal-user-feedbacks-4" class="row feedback-line">
                <span class="col s1 italic feedback-date"></span>
                <span class="col s1 bold feedback-author"></span>
                <span class="col s1 feedback-grade"></span>
                <span class="col s3 feedback-comment"></span>
            </p>

            <p id="modal-user-feedbacks-5" class="row feedback-line">
                <span class="col s1 italic feedback-date"></span>
                <span class="col s1 bold feedback-author"></span>
                <span class="col s1 feedback-grade"></span>
                <span class="col s3 feedback-comment"></span>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .fa {
            font-size: 35px;
            cursor: pointer;
            margin-left: 20px;
        }
        .italic {
            font-style: italic;
        }
        .bold {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('.show-announce').click(function() {
                var announce = $(this).data('announce');

                if (announce != "") {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('loan_answer_announce') }}',
                        data: { announce: announce },
                        dataType: 'json',
                        success: function (data) {
                            $('#modal-announce-name').html(data.content.name);
                            $('#modal-announce-dates').html(data.content.dates);
                            $('#modal-announce-image').attr('src', data.content.image);
                            $('#modal-announce-description').html(data.content.description);
                            $('#modal-announce').modal('open');
                        },
                        error: function(xhr, status, error) {
                            Materialize.toast(xhr.responseText, 3000, 'toast-error');
                        }
                    });
                }
            });

            $('.show-user').click(function() {
                var user = $(this).data('user');

                if (user != "") {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('loan_answer_user') }}',
                        data: { user: user },
                        dataType: 'json',
                        success: function (data) {
                            $('#modal-user-username').html(data.content.username);
                            $('#modal-user-average').html(parseFloat(data.content.average) + ' /5');

                            $('.feedback-line').hide();

                            for (var i = 0; i < data.content.feedbacks.length; i++) {
                                var line = '#modal-user-feedbacks-' + (i + 1);
                                $(line + ' .feedback-date').html(data.content.feedbacks[i].date);
                                $(line + ' .feedback-author').html(data.content.feedbacks[i].author);
                                $(line + ' .feedback-grade').html(data.content.feedbacks[i].grade + ' /5');
                                $(line + ' .feedback-comment').html(data.content.feedbacks[i].comment);
                                $(line).show();
                            }

                            $('#modal-user').modal('open');
                        },
                        error: function(xhr, status, error) {
                            Materialize.toast(xhr.responseText, 3000, 'toast-error');
                        }
                    });
                }
            });

            $('.accept').click(function() {
                var loan = $(this).data('loan');

                if (loan != "") {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('loan_answer_accept') }}',
                        data: { loan: loan },
                        dataType: 'json',
                        success: function (data) {
                            Materialize.toast(data.content, 3000, 'bc-' + data.type);
                            $('#line-' + loan).remove();
                        },
                        error: function(xhr, status, error) {
                            Materialize.toast(xhr.responseText, 3000, 'toast-error');
                        }
                    });
                }
            });

            $('.refuse').click(function() {
                var loan = $(this).data('loan');

                if (loan != "") {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('loan_answer_refuse') }}',
                        data: { loan: loan },
                        dataType: 'json',
                        success: function (data) {
                            Materialize.toast(data.content, 3000, 'bc-' + data.type);
                            $('#line-' + loan).remove();
                        },
                        error: function(xhr, status, error) {
                            Materialize.toast(xhr.responseText, 3000, 'toast-error');
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}