<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Loan A Thing{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link type="text/css" rel="stylesheet" href="{{ app.request.getBaseURL() }}/../../assets/css/materialize.min.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% block navbar %}
            <nav>
                NAVBAR
                {% if not app.user %}
                    <a href="{{ path('fos_user_security_login') }}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>S'inscrire</a>
                    <a href="{{ path('fos_user_registration_register') }}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Se connecter</a>
                {% endif %}
            </nav>
        {% endblock %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <script type="text/javascript" src="{{ app.request.getBaseURL() }}/../../assets/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{ app.request.getBaseURL() }}/../../assets/js/materialize.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>