<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Loan A Thing{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link type="text/css" rel="stylesheet" href="{{ app.request.getBaseURL() }}/../../assets/css/materialize.min.css" />
        <link type="text/css" rel="stylesheet" href="{{ app.request.getBaseURL() }}/../../assets/css/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="{{ app.request.getBaseURL() }}/../../assets/css/site.css" />
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% block navbar %}
            <nav class="red darken-1">
                <div class="nav-wrapper">
                    <a href="{{ path('frontHomepage') }}" class="brand-logo">Loan a thing</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{ path('announce_index') }}">Annonces</a></li>
                        <li><a href="{{ path('loan_answer') }}">Demandes</a></li>
                        <li><a href="{{ path('loan_code') }}">Codes</a></li>
                        <li><a href="{{ path('feedback_index') }}">Commentaires</a></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                            {% endif %}
                            {% if not app.user %}   
                                <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endblock %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script type="text/javascript" src="{{ app.request.getBaseURL() }}/../../assets/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{ app.request.getBaseURL() }}/../../assets/js/materialize.min.js"></script>
        <script type="text/javascript" src="{{ app.request.getBaseURL() }}/../../assets/js/site.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>